.custom-a-border {
    border: 1px solid black;
    border-radius: .25rem;
}

.custom-p-5 {
    padding: 10px 40px;
}

.p-rl-5

.custom-m-5 {
    margin-bottom: 5px;
}

.w-350 {
    width: 100%;
}

.m-r-10 {
    margin-right: 10%;
}
